<h1>User info</h1>
<p><%= image_tag @user.profile_image, width: 100, height: 100 %></p>
<table class="table table-striped">
  <tbody>
      <th>Name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>Introduction</th>
      <td><%= @user.introduction %></td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
<p><%= link_to "<i class='fa-solid fa-gears'></i>".html_safe, edit_user_path(@user), class: "btn btn-outline-secondary btn-block" %></p>
  
  
<h1>New Book</h1>
<% if book.errors.any? %>
 <%= book.errors.count %>errors prohibited this obj from being saved:
 <ul>
     <% book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
 </ul>
 <% end %>

<%= form_with model: book do |f| %>

    <h4>title</h4>
    <%= f.text_field :title %>
    <h4>body</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Create book' , class: "btn btn-success" %>
    <% end %>
